* {
      margin: 0px;
      padding: 0px;
    } 
    h1 {
      font: bold 20px verdana, sans-serif;
    } 
    h2 {
      font: bold 18px verdana, sans-serif;
    } 
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
      display: block;
    }
    body {
      width: 100%;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
    }
    #wrapper{
      max-width: 960px;
      margin: 5px 0px;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }
    #main_header {
	  display: -moz-box;
	  display: -webkit-box;
	  box-orient: horizontal;
      background: #FFFBB9;
      border: 1px solid #999999;
      padding: 10px;
    } 
    #list_container {
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
    }
    #main_section {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      margin: 5px 0px;
    } 
    article {
	  height: 800px;
      background: #FFFFFF;
      border: 1px solid #999999;
      padding: 10px;
      margin-bottom: 5px;
	  cursor: text;
    } 

	.home_line {
		display: -moz-box;
		display: -webkit-box;
		border-bottom: 1px solid #999999;
		margin-bottom: 10px;
	}

	.tmp_editing {
		width: 900px;
		margin-left: 5px;
		font: 14px verdana, sans-serif;
		border: 1px solid #FFFFFF;
		cursor: text;
		vertical-align: middle;
	}

	.bullet {
		text-indent: 0px !important;
		margin-left: 5px;
		vertical-align: middle;
	}
