* {
      margin: 0px;
      padding: 0px;
    } 
    h1 {
      font: bold 20px verdana, sans-serif;
    } 
    h2 {
      font: bold 14px verdana, sans-serif;
    } 
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
      display: block;
    }
    body {
      width: 100%;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
    }
    #wrapper{
      max-width: 960px;
      margin: 5px 0px;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }
    #main_header {
	  display: -moz-box;
	  display: -webkit-box;
	  box-orient: horizontal;
      background: #FFFBB9;
      border: 1px solid #999999;
      padding: 10px;
    } 
    #main_menu {
      background: #CCCCCC;
      padding: 5px 10px;
    }
    #main_menu li {
      display: inline-block;
      list-style: none;
      padding: 5px;
      font: bold 14px verdana, sans-serif;
    }
    #container {
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
    }
    #main_section {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      margin: 5px;
    } 
    #main_aside {
      width: 200px;
      margin: 5px 0px;
      padding: 10px;
      background: #CCCCCC;
    }
    #main_footer {
      text-align: center;
      padding: 10px;
      border-top: 2px solid #999999;
    } 
    article {
      background: #FFFBCC;
      border: 1px solid #999999;
      padding: 10px;
      margin-bottom: 5px;
    } 
    time {
      color: #999999;
    } 
    article footer {
      text-align: right;
    } 
    figcaption {
      font: italic 14px verdana, sans-serif;
    }

	#manual {
      text-align: right;
    } 
	#quit_meeting {
      text-align: right;
    } 
	#chating, #mindmap, #brainstorming, #postit  {
		border-top: 1px solid #96d1f8;
	   background: #65a9d7;
	   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	   background: -o-linear-gradient(top, #3e779d, #65a9d7);
	   padding: 10px 10px;
	   -webkit-border-radius: 12px;
	   -moz-border-radius: 12px;
	   border-radius: 12px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: white;
	   font-size: 15px;
	   text-decoration: none;
	   text-align: center;
	   vertical-align: middle;
	   margin-bottom: 5px;
	}
   #chating:active, #mindmap:active, #brainstorming:active, #postit:active {
		border-top-color: #1b435e;
		background: #1b435e;
   }
   #meeting_space {
		height: 400px;
   }
   #meeting_progress {
		height: 100px;
   }
   #progress_title {
		height: 20px;
		margin: 5px;
   }

   #progress_title_box {
		display: -moz-box;
		display: -webkit-box;
		box-orient: horizontal;
		height: 25px;
   }

   #progress_box {
		display: -moz-box;
		display: -webkit-box;
		box-orient: horizontal;
		height: 80px;
   }
   .process {
		width: 50px;
		height: 60px;
		margin : 5px;
		text-align: center;
		border: 1px solid #999999;
   }

   #meeting_status {
		height: 140px;
		margin : 5px;
		border: 1px solid #999999;
   }

   #meeting_people {
		height: 100px;
		margin : 5px;
		border: 1px solid #999999;
   }

   #guide_alert {
		height: 100px;
		margin : 5px;
		border: 1px solid #999999;
   }

	#subject_list {
		height: 300px;
		margin : 5px;
	}

   #meeting_subject {
	   border-top: 1px solid #96d1f8;
	   background: #65a9d7;
	   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	   background: -o-linear-gradient(top, #3e779d, #65a9d7);
	   padding: 10px 10px;
	   -webkit-border-radius: 12px;
	   -moz-border-radius: 12px;
	   border-radius: 12px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: white;
	   font-size: 15px;
	   text-decoration: none;
	   text-align: center;
	   vertical-align: middle;
	   width: 300px;
	   margin-bottom: 5px;
	}

   #meeting_subject:active {
		border-top-color: #1b435e;
		background: #1b435e;
   }

   #manual_button_main {
		text-align: center;
		position: relative; left: 780px;
   }

   #manual_button {
		text-align: center;
		position: relative; left: 620px;
   }

    #quit_button {
		text-align: center;
		position: relative; left: 650px;
   }

   #add_progress {
		text-align: center;
		position: relative; left: 550px;

   }