.clearboth {
	clear: both;
}

.vote_make_container {
	width: 500px;
	border: 1px solid #ababab;
}

.vote_make_container .container_question_title {
	padding: 10px;
}

.vote_container .question_content {
	width: 500px;
	height: 150px;
}

.vote_make_container .question_title {
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	resize: vertical;
	font-size: 13px;
	font-family: "굴림";
}

.vote_make_container .voteReadyList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.vote_make_container .voteReadyList li {
	border-top: 1px solid #ababab;
	margin: 0;
	padding: 0;
}

.vote_make_container .voteReadyList li .plusicon {
	margin-left: 3px;
	font-size: 8px;
	font-weight: bold;
	color: #666666;
}

.vote_make_container .voteReadyList li input[type="text"] {
	width: 470px;
	font-size: 11px;
	border: none;
	outline: none;
}

.vote_make_container .voteReadyList li .del_votelist {
	font-size: 10px;
	color: #666666;
	cursor: pointer;
	padding: 2px;
}

.vote_make_container .underbar .txt_init_votereadylist {
	float: left;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	padding-left: 5px;
	cursor: pointer;
}
.vote_make_container .underbar .txt_init_votereadylist:hover{
	text-decoration: underline;
}

.vote_make_container .underbar .container_checkboxes {
	float: left;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	display: none;
}


.vote_make_container .underbar .container_btn_votestart {
	float: right;
	padding-right: 3px;
}

.vote_make_container .underbar .btn_votestart {
	width: 100px;
	height: 20px;
	font-size: 11px;
	background-color: #2b4d90;
	color: #ffffff;
}