<div class="list_tool" id="list<%= tool_index %>">
    <div class="main_section">
		<div class="header">
			<div class="home_line">
				<div class="home_box">
					<span id="homeButton" onClick="list_change_data()">Change</span>
					<span id="initButton" onClick="list_init_data()">Clear</span>
				</div>
				<div class="init_box">
					<span id="addButton" onClick="list_add_new_input()">+</span>
				</div>
			</div>
		</div class="header">
		<div class="list_space">
			<div class="children">
			</div>
		</div>
		&nbsp;
    </div>
</div>