<div class="matrix" id="matrix<%= tool_index %>">
	<div class="matrix-container">
    <div class="main_section">
		<div class="article">
			<div class="header">
				<div class="menu_line">
						<input type="number" class="inputNum" id="rowNum" value="2">
						X
						<input type="number" class="inputNum" id="colNum" value="2">				
					<input type="button" class="setMatrix" value="Set">
					<input type="button" class="clearMatrix" value="Clear">
				</div>
			</div>
			<div class="matrix_space">
				<table class="matrix_table">
					<thead><colgroup></colgroup></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
    </div>
	</div>
</div>