<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/tools/mindmap.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/javascripts/d3.v3.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script>
	

</script>
</head>
<body>

<div class="mindmap_tool" id="mindmap1">

<div id="list_tool">
<div class="list_space">
	<div class="children">
		
	</div>
</div>
<div id="draw_button" onClick="mindmap_draw()">Draw</div>
</div>
<svg id="svg" viewBox="150 100 600 400" >
</svg>

</div>

</body>
</html>