<div class="mindmap_tool" id="mindmap<%= tool_index %>">
	<div id="list_tool">
		<div class="list_space">
			<div class="children"></div>
		</div>
		<div id="draw_button" onClick="mindmap_draw()">
			Draw
		</div>
	</div>
	<svg id="svg" viewBox="250 100 600 400"></svg>
</div>