<div class="toolwindow" id="postit<%= tool_index %>">

  <body>
    <header>
		<div class="title_line">
			<div id="title_text">Post-it</div>
			<div id="add_group" onClick="postit_add_group()">+</div>
			<div id="title_right_text">Group</div>			
		</div>
	</header>
	<article>
		<div class="group_container" groupid="0">
			<input type="text" class="group_title" titleid="0" onKeyDown="postit_key_input()"/>
			<div class="add_postit">+</div> 
			<div class="container">
						
			</div>
		</div>

	</article>

</div>