<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/tools/vote.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/socket.io.js"></script>	
	<script type="text/javascript" src="/javascripts/tools/vote.js"></script>
</head>
<body>
<div class="vote_make_container">
	<div class="container_question_title">
		<textarea class="question_title" placeholder="투표 내용을 입력해 주세요."></textarea>
	</div>
	<ul class="voteReadyList">
		
	</ul>
	<div class="underbar">
		<span class="txt_init_votereadylist">투표 옵션 추가하기</span>
		<span class="container_checkboxes">
			<!--<input type="checkbox" id="chk_addpermit_to_all" class="verticalmiddle" /><span>누구나 투표 항목 추가 가능</span>-->
			<input type="checkbox" id="chk_multi_vote" class="verticalmiddle" /><span>중복 투표</span>
			<!--<input type="checkbox" id="chk_realtime_result" class="verticalmiddle" /><span>실시간 투표 결과 공유</span>-->
		</span>
		<span class="container_btn_votestart">
			<input type="button" class="btn_votestart button1" value="투표 시작" />
		</span>
		<div class="clearboth"></div>
	</div>
</div>

<div class="vote_processing_container">
	<h2 class="question_title"></h2>
	<div class="question_list">
		<ul>
			
		</ul>
		<!--<div>
			<span class="container_add_item"><span class="plusicon">+</span><input type="text" id="txt_add_item" placeholder="항목 추가하기" /><input type="button" id="btn_add_item" value="추가" /><span class="clearboth"></span></span>
		</div>-->
	</div>
	<div class="underbar">
		<span class="container_btn_votefinish">
			<input type="button" id="btn_votefinish" class="btn_votefinish button1" value="투표 완료" />
		</span>
		<div class="clearboth"></div>
	</div>
</div>

<div class="vote_result_container">
	<h2 class="question_title"></h2>
	<div class="question_list">
		<ul>
			
		</ul>
		<!--<div>
			<span class="container_add_item"><span class="plusicon">+</span><input type="text" id="txt_add_item" placeholder="항목 추가하기" /><input type="button" id="btn_add_item" value="추가" /><span class="clearboth"></span></span>
		</div>-->
	</div>
</div>
</body>
</html>