.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}

text.node {
	font: bold 12px verdana, sans-serif;
	text-anchor:left;
	stroke:white;
	stroke-width:0px;
}

#list_tool {
	position: absolute;
	margin: 5px;
	width: 30%;
	max-width: 200px;
	max-height: 590px;
	height: 88%;
	border: 1px solid #999999;
	z-index: 2;
	cursor: text;
}

#draw_button {
	position: relative;
	padding: 3px;
	margin: 1% 1% 1% 3%;
	width: 90%;
	text-align: center;
	border: 1px solid #999999;
	z-index: 4;
	cursor: pointer;
}

.edit_task {
	margin-bottom: 5px;
}

svg {
	width: 95%;
	height: 95%;
	margin-top: 1px;
	margin-left: 1px;
	max-width: 900px;
	max-height: 600px;
	position: absolute;
	border: none;
	z-index: 1;
	cursor: Move;
}

.list_space {
	position: relative;
	margin: 3% 0% 3% 2%;
	width: 95%;
	height: 88%;
	border: none;
	z-index: 3;
	cursor: text;
}

.bullet {
	font-size:18px;
	margin:0px;
	color:#5C8AB8;
	width: 1%;
	text-indent: 0px !important;
	vertical-align: middle;
}

.tmp_editing {
	position: relative;
	width: 80%;
	margin:0px;
	margin-left: 3px;
	border:0px none;
	font: 12px verdana, sans-serif;
	cursor: text;
	vertical-align: middle;
	z-index: 6;
}

tmp_editing_title {
	border: 2px inset;
}





