* {
      margin: 0px;
      padding: 0px;
    } 
    h1 {
      font: bold 20px verdana, sans-serif;
    } 
    h2 {
      font: bold 18px verdana, sans-serif;
    } 
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
      display: block;
    }
    body {
      width: 100%;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
    }
    #wrapper{
      max-width: 600px;
      margin: 5px 0px;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }
    #main_header {
	  display: -moz-box;
	  display: -webkit-box;
	  box-orient: horizontal;
      background: #FFFBB9;
      border: 1px solid #999999;
      padding: 10px;
    } 
    #container {
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
    }
    #main_section {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      margin: 5px 0px;
    } 
    article {
	  max-width: 600px;
	  height: 500px;
      background: #FFFFFF;
      border: 1px solid #999999;
      padding: 10px;
      margin-bottom: 5px;
	  cursor: text;
    } 

	.home_line {
		display: -moz-box;
		display: -webkit-box;
		border-bottom: 1px solid #999999;
		margin-bottom: 10px;
	}

	.tmp_editing {
		width: 90%;
		margin-left: 10px;
		font: 14px verdana, sans-serif;
		border: none;
		background: none;
		outline: none;
		cursor: text;
		vertical-align: middle;
	}


	.bullet {
		width: 3%;
		text-indent: 0px !important;
		margin-left: 5px;
		vertical-align: middle;
	}

	.check_box {
		width: 3%;
		margin-left: 5px;
		margin-top: 3px;
		float: right;	
	}

	.input_task:hover {
		background: #66CCFF;
	}
	.input_open:hover {

		background: #66CCFF;
	}

	a:hover {
		text-decoration:underline;
		cursor:pointer;
		background:#004596;
	}
	.home_box {
		width: 94%;		
	}
	.init_box {
		width: 6%;
	}
	#homeButton {
		width: 60px;
		cursor:pointer;
	}
	#addButton {
		width: 20px;
		font: bold 18px;
		text-align: center;
		background: #FFFBB9;
		border: 1px solid #999999;
		cursor:pointer;
	}