<html lang="ko" class="canHaveFixedElements" id="facebook">
<head>
	<meta charset="utf-8">
	<meta content="noodp, noydir" name="robots">
	<meta id="meta_referrer" content="default" name="referrer">
	<title><%=result.title%></title>
	<link href="/stylesheets/tmp.css" rel="stylesheet">
	<style>
		*{
			margin:0px;padding:0px;
		}
		.header span{
			margin:5px;
			padding:5px;
			line-height:40px;
			border:1px solid black;
		}
		table{
			width:100%;
		}
		table th{
			border:1px solid black;
		}
		table td{
			border:1px solid black;
		}
	</style>
</head>
<body class="ft_help">
	<div class="container">
		<div class="header">
			<div>
					<a href="#opening"><span>오프닝</span></a>
					<a href="#conflict-solving"><span>갈등해결</span></a>
					<a href="#decision-making"><span>의사결정</span></a>
			</div>
		</div>
		<div class="body">
			<div id="opening">
				<h1>오프닝</h1>
				<div>
					회의의 시작단계인다. 이 단계에서 퍼실리테이터는 참가자들에게 회의의 목적과 회의의 결과물에 대해 알리고, 회의를 통해 얻을 수 있는 결과 및 효과에 대해 상상하게 하여 참가자들의 참여 의욕을 고취시킨다. 또한 회의에서 참가자들이 해야 될 역할의 중요성과 그들이 회의에 참석하도록 선택된 이유, 주어진 권한에 대해 설명한다.
				</div>
				<table>
					<colgroup>
						<col width="25%">
						<col width="25%">
						<col width="25%">
						<col width="25%">
					</colgroup>
					<thead>
						<tr><th colspan="2">회의의 목적</th><th colspan="2"></th></tr>
						<tr><th colspan="2">회의의 결과물</th><th colspan="2"></th></tr>
						<tr><th colspan="2">회의를 통해 얻을 수 있는 결과 및 효과</th><th colspan="2"></th></tr>
						<tr>
							<th>회의 참석자</th>
							<th>역할 & 역할의 중요성</th>
							<th>회의에 참석하도록 선택된 이유</th>
							<th>주어진 권한</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="conflict-solving">
				<h1>갈등해결</h1>
				<div>
					<table>
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
							<tr>
								<th colspan="2">문제가 무엇인가?</th>
								<th colspan="2"></th>
							</tr>
							<tr>
								<th>의견이 맞지 않는 부분은 무엇인가?</th>
								<th>의견이 일치하는 부분은 무엇인가?</th>
								<th>의견이 일치하는 부분을 이용해서 의견이 맞지 않는 부분을 줄일 수 있는 선택사항을 생각해낼 수 있는가?</th>
								<th>갈등을 해결하기 위해 다음 단계에서 취해야 할 행동은 무엇인가?</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<div>1. 차이점 표현 - 퍼실리테이터는 갈등 당사자의 말과 행동을 관찰한다.</div>
					<div>
						<div><p>상황</p><p>조용히 표현하건 또는 감정적이건, 갈등이 발생했다는 것을 처음으로 알려주는 단계이다. 이 단계에서는 차이점의 한쪽 측면만 표현될 수도 있다.</p><p>갈등이 이 단계로 되돌아오면 협조적인 결과를 도출할 기회는 사라진다. 갈등은 무기한으로 지속되거나, 한쪽의 일방적인 승리로 끝난다.</p></div>
						<div><p>갈등 대응방식에 따른 영향</p><p>이 단계는 모든 갈등 스타일에서 나타난다.</p></div>
					</div>
					<div>2. 갈등인식 - 퍼실리테이터는 갈등상황을 확인하고 그룹이 프로세스의 나머지 단계를 활용할 기회를 제공한다.</div>
					<div>
						<div>퍼실리테이터의 질문</div>
						<div>- 문제가 무엇인가?</div>
					</div>
					<div>
						<div><p>상황</p><p>갈등 당사자 중 적어도 한쪽이 차이점을 인식한다. 이 인식이 상대방에게 전달되지 않을 수도 있다.</p><p>차이점을 공개적으로 논의할 경우 만족스런 해결책을 찾기로 합의할 수 있다.</p><p>갈등이 첫번째 단계로 돌아갈 경우, 당사자는 언제든 갈등의 스타일을 바꾸어, 갈등을 끝내거나 다음 단계인 공통점 합의 단계로 넘어갈 수 있다.</p></div>
						<div><p>갈등 대응방식에 따른 영향</p><p>이 단계는 갈등에 대한 대응방식을 무의식적으로 또는 의식 적으로 선택하게 만든다.</p><p>회피형을 선택할 경우, 한쪽 편이 결과를 결정하므로 이 단계에서 갈등이 종료된다. 각자가 자기 일을 계혹하기 위해서 합의를 회피할 수도 있다.</p><p>순응형을 선택할 경우, 한쪽 편이 상대편에게 순종하므로 이 단계에서 갈등이 종료된다.</p><p>경쟁형을 선택할 경우, 갈등은 첫번째 단계인 갈등의 표현 단계로 돌아간다.</p><p>타협형 또는 협조형을 선택할 경우, 양쪽 편은 공통점 합의 단계로 넘어간다.</p></div>
					</div>
					<div>3. 차이의 분석 - 퍼실리테이터는 그룹이 타협점 또는 윈-윈 해결책을 만들기 위한 핵심을 파악하도록 돕는다.</div>
					<div>
						<div>퍼실리테이터의 질문</div>
						<div>- 의견이 맞지 않는 부분은 무엇인가?</div>
					</div>
					<div>
						<div><p>상황</p><p>갈등하고 있는 양쪽의 당사자는 자신의 입장을 설명하고 상대편의 질문에 대답한다.</p></div>
						<div><p>갈등 대응방식에 따른 영향</p><p>타협형의 경우, 논의의 주제는 타협점 즉 무엇을 양보하고 무엇을 얻을 것인지 정하는 데 초점을 맞춘다. 이 단계는 시간이 오래 걸리지 않는다.</p><p>협조형의 경우, 논의의 주제는 양쪽 입장의 핵심, 즉 윈-윈 해결책을 찾기 위해 필요한 내용이 무엇인지 파악하는 데 초점을 맞춘다. 이 단계는 시간이 오래 걸린다.</p></div>
					</div>
					<div>4. 공통점 합의 - 퍼실리테이터는 그룹이 합의점을 찾도록 지원한다.</div>
					<div>
						<div>퍼실리테이터의 질문</div>
						<div>- 의견이 일치하는 부분은 무엇인가?</div>
						<div>- 의견이 일치하는 부분을 이용해서 의견이 맞지 않는 부분을 줄일 수 있는 선택 사항을 생각해낼 수 있는가?</div>
					</div>
					<div>
						<div><p>상황</p><p>갈등하고 있는 양쪽의 당사자는 서로 수용할 수 있는 해결책에 합의하는 것이 유리하다는 것을 인식한다. 예를 들면, 각자 차이점에 대해서는 강한 입장이지만 그룹의 책무를 달성하기 위해서 갈등을 해결해야 한다는 것을 인식한다.</p></div>
						<div><p>갈등 대응방식에 따른 영향</p><p>타협형 또는 협조형은 시간과 에너지가 필요하다. 공통점 합의 단계는 이런 시간과 에너지를 투자할 논리적 근거를 제시한다.</p></div>
					</div>
					<div>5. 갈등해결 - 퍼실리테이터는 그룹이 합의에 도달하고, 그 합의시점을 인식하도록 돕는다.</div>
					<div>
						<div>퍼실리테이터의 질문</div>
						<div>갈등을 해결하기 위해 다음 단계에서 취해야 할 행동은 무엇인가?</div>
					</div>
					<div>
						<div><p>상황</p><p>양쪽은 만족할 만한 갈등의 해결책을 인식하고 이에 따를 것을 약속한다.</p></div>
						<div><p>갈등 대응방식에 따른 영향</p><p>타협형의 경우, 양쪽 당사자는 일부를 얻기 위해 일부를 양보한다.</p><p>협조형의 경우, 양쪽 당사자는 원하던 핵심사항을 얻을 수 있다.</p></div>
					</div>
				</div>
			</div>
			<div id="decision-making">
				<h1>의사결정</h1>
				<div>
					합의를 도출하는 것은 집단이 함께 앞으로 나아가려는 의지를 공유하는 것을 뜻한다. 다시 말해, 합의는 누구는 지고 누구는 이기는 투표가 아니라 모든 구성원들이 승리할 수 있도록 하는 것이며, 결정된 것을 따르도록 집단을 이끄는 방법이 아니라 참여를 촉진시키는 프로세스이다. 합의를 도출하기 위한 과정에서 설득이 사용될 수는 있지만, 대부분의 경우에서 합의는 사람들이 공통적인 마음을 형성하도록 하는 대화를 통해 이루어진다.
				</div>
				<div>Build-up & Multi-voting</div>
				<table>
					<colgroup>
						<col width="22.5%">
						<col width="22.5%">
						<col width="22.5%">
						<col width="22.5%">
						<col width="10%">
					</colgroup>
					<thead>
						<tr>
							<th colspan="2">의제</th><th colspan="3"></th>
						</tr>
						<tr>
							<th>의견</th>
							<th>의견으로 인한 영향(또는 예상되는 결과)</th>
							<th>긍정적인점</th>
							<th>부정적인점</th>
							<th>투표</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
<!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
		long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
		to to "classic" jQuery behavior -->
<script>if ($ === undefined) $ = jQuery</script>
<!-- /jQuery -->
<!-- Bootstrap Components -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/orchestra.js"></script>
<script>
	$(document).ready(function(){
	})
</script>
</html>