<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Orchestra</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" href="/stylesheets/jeong.css" />
<link rel="stylesheet" href="/stylesheets/fullcalendar.css?v=1">
</head>
<body>
<!--============================= Page Body =================================-->
<div class="container">
	<div id="meeting-list-page" class="page">
		<div id="meeting-calendar">
		</div>
	</div>
    <div id="group-calendar">
    </div>
</div>
<!--============================= /Page Body ================================-->
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
<!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
to to "classic" jQuery behavior -->
<script>if ($ === undefined) $ = jQuery</script>
<!-- /jQuery -->
<script src="/javascripts/jquery.fullcalendar.min.js"></script>	
<script src="/javascripts/config.js"></script>	
<script type="text/javascript">
var events = [];
$(document).ready(function(){
setup_calendar();
})
</script>
</body>
</html>
