<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title></title>


<style type="text/css">

#firstElement:hover + #secondElement {
	color:red;
}

#group-info-member .member-list li div.picture{
	float:left;
	width:30px;
	height:30px;
	overflow: hidden;
	font-weight:bold;
	color: #444;
	background-color:#ccc;
	border: 1px solid #B9B9B9;
	border-radius:3px;
}
#group-info-member .member-list li div.name{
	float:left;
	width:221px;
	height:32px;
	padding:0px 5px;
    white-space: nowrap;
	-o-text-overflow: ellipsis;    /* Opera under 10.7 */
	text-overflow:ellipsis;    /* IE, Safari */
	word-wrap:break-word;
	overflow: hidden;
	border-radius:3px;
}


</style>

</head>
<body>
<p id="firstElement">Hover</p>

<div id="secondElement">Hello</div>

<div id="group-info-member" class="fancy-scrollbar">
			<ul class="member-list">
				<li>
					<div class="picture"></div>
					<div class="name">asdf</div>
				</li>
			</ul>
		</div>

</body>
</html>