<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title></title>


<style type="text/css">

input{
	width: 311px; 
	height: 20px; 
	background-color: #fff;
	border:1px solid #fff;
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.11); 
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.11); 
	box-shadow: inset 0 5px 5px rgba(0,0,0,.11); 
}
</style>

</head>
<body>
<input type="text">
</body>
</html>