<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>Orchestra</title>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<!-- 포스트잇 도구 -->
<link href="/stylesheets/tools/postit.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript" src="/javascripts/jquery.shapeshift.js"></script>	
<!-- /포스트잇 도구 -->
<script>
	$(function(){
		$(".postit-container").shapeshift({ });
	});
</script>
</head>
<body id="meeting" class="meeting" onselectstart="return false">
    <header>
		<div class="title_line">
			<div id="title_text">Post-it</div>
			<div id="add_group" onClick="postit_add_group()">+</div>
			<div id="title_right_text">Group</div>			
		</div>
	</header>
	<article>
		<div class="group_container" groupid="0">
			<input type="text" class="group_title" placeholder="Input Title" titleid="0" onKeyDown="postit_key_input()"/>
			<div class="add_postit">+</div> 
			<div class="postit-container">
					<div class="object open" taskid="100" style="left: 54px; top: 40px;"><div class="title_area"><div class="del_button">X</div><div></div></div><textarea class="input_area" onclick="postit_mouse_focus()" onkeydown="postit_key_input()"></textarea></div>
					<div class="object open" taskid="100" style="left: 354px; top: 340px;"><div class="title_area"><div class="del_button">X</div><div></div></div><textarea class="input_area" onclick="postit_mouse_focus()" onkeydown="postit_key_input()"></textarea></div>
			</div>
		</div>
	</article>
</body>
</html>
