<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta content="noodp, noydir" name="robots">
	<meta id="meta_referrer" content="default" name="referrer">
	<title>Orchestra에 오신 것을 환영합니다. 로그인, 가입 및 더 알아보기</title>
	<link href="/stylesheets/font.css" rel="stylesheet">
	<style>
		*{
			margin:0px;padding:0px;
		}
		.white{
			color:#FFFFFF;
		}
		.login .container{
			width:100%;
		}
		.login{
			font-family:"oxygen";
		}
		.login .header .context-box {
			margin:0 auto;
			width:1280px;
		}
		.login .body .context-box {
			margin:0 auto;
			width:1180px;
			padding-left:100px;
		}
		.login placeholder{
			font-family:"oxygen";
		}
		.login .header{
			width:100%;
			height:84px;
			padding-top:15px;
			padding-bottom:10px;
		}
		.login .header .logo{
			float:left;
			margin-left:100px;
			font-size:3.3em;
			font-weight:bold;
			color:#039;
			line-height:62px;
			width:50%;
		}
		.login .header .login-box{
			font-family: "Oxygen"; 
			float:left;
			width:40%;			
			font-size: 12px;
			color:#039;
		}
		.login .header .login-box-wrap{
			float:left;
			width: 167px; 
			margin-top:10px;
			margin-right:5%;
		}
		.login .header .login-box-wrap .login-box-body{
			width:100%;
			height:21px;
			line-height:21px;
		}
		.login .header .login-box-wrap .login-box-footer{
			width:100%;
			margin-top:5px;
			height:20px;
			line-height:20px;
		}
		.login .header .login-box-wrap .login-box-footer *{
			float:left;
		}
		.login .header .login-box-wrap input[type=text]{
			background: url("/images/mail_icon.png") no-repeat 7px 4px transparent;
		}
		.login .header .login-box-wrap input[type=password]{
			background: url("/images/pw_icon.png") no-repeat 7px 2px transparent;
		}
		.login .header .login-box-wrap input[type=text], .login .header .login-box-wrap input[type=password]{
			line-height:23px;
			width: 133px; 
			height: 19px; 
			background-color: #fff; 
			border: solid 2px #ccc;
			padding-left:26px;
		}
		.login .header .login-box-wrap input[type=checkbox]{
			width: 11px; 
			height: 11px; 
			border: solid 2px #ccc;
			margin:3px 3px 0px 0px;
		}
		.login .header .login-btn-wrap{
			float:left;
			margin-top:10px;
		}
		.login .header .login-btn-wrap .login-btn{
			padding:6px 11px 4px 11px;
			line-height:21px;
			font-size: 14px; 
			font-weight: bold;
			color: #fff; 
			text-shadow: 1px 2px 2px rgba(0,0,0,.75);
			-webkit-border-radius: 3px/5px;
			-moz-border-radius: 3px/5px;
			border-radius: 3px/5px;
			background-color: #036;
			-webkit-box-shadow: inset 0 -8px 5px rgba(0,0,0,.17);
			-moz-box-shadow: inset 0 -8px 5px rgba(0,0,0,.17);
			box-shadow: inset 0 -8px 5px rgba(0,0,0,.17);
		}
		.login a:link {text-decoration: none; color: #ffffff;}
		.login a:visited {text-decoration: none; color: #ffffff;}
		.login a:active {text-decoration: none; color: #ffffff;}
		.login a:hover {text-decoration: none; color: #ffffff;}
		
		.login .body{
			width:100%;
			background-color:#7094b7;
		}
		.login .body .login-bg{
			margin-top:3%;
		}
		.login .body .middle-box{
			position:relative;
			top:-140px;
			background: #CCCCCC; background : rgba(204, 204, 204, .4)
		}
		.login .main-comment-box{
			float:left;
			margin-top:120px;
		}
		.login .main-comment-box .main-comment-1{
			font-weight:bold;
			font-size:58px;
			color:#FFF;
		}
		.login .main-comment-box .main-comment-2{
			font-weight:bold;
			font-size:35px;
			color:#3052A1;
			line-height:45px;
		}
		.login .main-comment-box .main-comment-3{
			font-weight:bold;
			font-size:22px;
			color:#3052A1;
			line-height:35px;
		}
		.login .body .sign-up-box{
			padding-top:20px;
			padding-left:54%;
			padding-bottom:20px;
		}
		.login .body .sign-up-box .sign-up-box-wrap{
			height:34px;
			margin-bottom:20px;
		}
		.login .body .sign-up-box input{
			font-size:18px;
			padding:3px 8px;
			height:25px;
			line-height:25px;
			-webkit-border-radius: 19px/7px; 
			-moz-border-radius: 19px/7px; 
			border-radius: 19px/7px; 
			background-color: #fff; 
			-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 0 5px rgba(255,255,190,.75); 
			-moz-box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 0 5px rgba(255,255,190,.75); 
			box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 0 5px rgba(255,255,190,.75); 
			border: solid 1px rgba(204,204,204,.47);
		}
		.login .body .sign-up-box input.input-name{
			width:164px;
			margin-right:15px;
		}
		.login .body .sign-up-box input.input-order{
			width:364px;
		}
		.login .body .sign-up-box .sign-up-btn{
			float:left;
			font-weight: bold; 
			color: #fff; 
			text-shadow: 1px 2px 2px rgba(0,0,0,.75);
			padding:6px 156px 13px 156px;
			-webkit-border-radius: 19px/11px; 
			-moz-border-radius: 19px/11px;
			border-radius: 19px/11px;
			background-color: #69f; 
			-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 -8px 5px rgba(0,0,0,.32); 
			-moz-box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 -8px 5px rgba(0,0,0,.32); 
			box-shadow: 0 -2px 5px rgba(0,0,0,.29), inset 0 -8px 5px rgba(0,0,0,.32); 
			border: solid 1px rgba(204,204,204,.47);
		}
		.login .body .sign-up-box .alert-div{
			padding-left:10px;
			font-size:13px;
			line-height:15px;
			color:rgba(255, 0, 0, .4);
		}
		.login .body .sign-up-box .choice{
			width:380px;
			text-align:center;
		}
		.login .body .sign-up-box .or{
			display: inline-block;
			background:#e8e8e8;
			border-radius: 5px;
			padding: 3px 7px;
			text-align: center;
		}
		.login .body .sign-up-box .dashed_line{
			float:left;
			margin-top:-15px;
			padding:0px;
			border-bottom:2px dashed #FFFFFF;
			width:100%;
			height:1px;
		}
		.login .body .sign-up-box .fb_login .icon{
			background:			url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMtJREFUeNpi/P//PwMeIATEyUCsDuUzA/FuIF6GogpkCA4sCsRH/2OCmehqmfC4IhqIrbCI/0UXYMFjiDES+zoQ1wHxDyB+QIohzEjsU0C8BpdCbIYoALE0EEsgiUlBvQby/lMgvk8oYPuA+AcQ/0UKzD9A/B2IfwJxHboebC7hB2J2LF6Dee8dMd45CsQ8QGwJxLJQsYdAfByI3wPxCQwdeNLJMiTvLMajDm86YSEyFvEaQjQYQYYQHbD4JO8B8S0gZgTix/gMAQgwAFM3v0ECM4OMAAAAAElFTkSuQmCC') no-repeat;
			border-right: 1px solid rgba(255,255,255,0.4);
			float: left;
			height: 17px;
			margin: 0px 10px 0px 80px;
			width: 18px;
		}
		.login .body .sign-up-box .fb_login .fb_style{
			display: inline-block;
			margin-top:14px;
			padding: 5px;
			width: 360px;
			-webkit-border-radius: 19px/7px; 
			-moz-border-radius: 19px/7px; 
			border-radius: 19px/7px; 
			background-color: #485d95;
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8dba), color-stop(9%, #6176ac), color-stop(99%, #2b417f));
			background-image: -webkit-linear-gradient(top, #7b8dba 0%,#6176ac 9%,#2b417f 99%);
			background-image: -moz-linear-gradient(top, #7b8dba 0%,#6176ac 9%,#2b417f 99%);
			background-image: -o-linear-gradient(top, #7b8dba 0%,#6176ac 9%,#2b417f 99%);
			background-image: linear-gradient(top, #7b8dba 0%,#6176ac 9%,#2b417f 99%);
			border: 1px solid #2b417f;
		}

		/* all */ 
		::-webkit-input-placeholder { color:#BFBFBF; font-family:"oxygen"; font-weight: bold; font-size: 15px; }
		::-moz-placeholder { color:#BFBFBF; font-family:"oxygen"; font-weight: bold; font-size: 15px; } /* firefox 19+ */
		:-ms-input-placeholder { color:#BFBFBF; font-family:"oxygen"; font-weight: bold;  font-size: 15px;} /* ie */
		input:-moz-placeholder { color:#BFBFBF; font-family:"oxygen"; font-weight: bold; font-size: 15px; }

		/* individual: webkit */
		#field2::-webkit-input-placeholder { color:#BFBFBF; font-weight: bold; font-size: 15px; }
		#field3::-webkit-input-placeholder { color:#BFBFBF; background:lightgreen; text-transform:uppercase; font-weight: bold; font-size: 15px; }
		#field4::-webkit-input-placeholder { font-family:"oxygen"; text-decoration:overline; letter-spacing:3px; color:#BFBFBF; font-weight: bold; font-size: 15px; }

		/* individual: mozilla */
		#field2::-moz-placeholder { color:#BFBFBF; font-weight: bold; font-size: 15px; }
		#field3::-moz-placeholder { color:#BFBFBF; background:lightgreen; text-transform:uppercase; font-weight: bold; font-size: 15px; }
		#field4::-moz-placeholder { font-family:"oxygen"; text-decoration:overline; letter-spacing:3px; color:#BFBFBF; font-weight: bold; font-size: 15px; }
	</style>
</head>
<body class="login">
	<div class="container">
		<div class="header">
			<div class="context-box">
				<div class="logo">
					<img src="/images/bi.png"/>
				</div>
				<div class="login-box">
					<form name="login-form" method="post" action="/page/login">				
						<div class="login-box-wrap">
							<div class="login-box-body"><input type="text" name="email" value="orchestra@gmail.com"></div>
							<div class="login-box-footer"><input type="checkbox" name="keep_login" checked="checked"> Keep me logged in</div>
						</div>
						<div class="login-box-wrap">
							<div class="login-box-body"><input type="password" name="pass" value="1234"></div>
							<div class="login-box-footer">Forgot your password?</div>
						</div>
						<div class="login-btn-wrap">
							<div class="login-box-body"><a href="javascript:login();" class="login-btn">LOG IN</a></div>
							<div class="login-box-footer"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="context-box">
				<img src="/images/login/login_bg.png" class="login-bg">
			</div>
			<div class="middle-box">
				<div class="context-box">
					<div class="main-comment-box">
						<div class="main-comment-1">To facilitate</div>
						<div class="main-comment-2">an action or process,</div>
						<div class="main-comment-3">especially one that you would like to happen,<br> means to <span class="white">make it easier</span> or <span class="white">more likely to happen</span>.</div>
					</div>
					<div class="sign-up-box">
						<form name="sign-up-form" method="post" action="/page/sign_up">				
							<div class="sign-up-box-wrap">
								<input type="text" name="first_name" placeholder="First Name" class="input-name">
								<input type="text" name="last_name" placeholder="Last Name" class="input-name">
								<div class="first_name-alert alert-div"></div><div class="last_name-alert alert-div"></div>
							</div>
							<div class="sign-up-box-wrap"><input type="text" name="sign_up_email" placeholder="Your e-mail" class="input-order"> <div class="sign_up_email-alert alert-div"></div></div>
							<div class="sign-up-box-wrap"><input type="password" name="sign_up_password" placeholder="Enter Password" class="input-order"><div class="sign_up_password-alert alert-div"></div></div>
							<div class="sign-up-box-wrap"><input type="password" name="sign_up_re_password" placeholder="Re-enter Password" class="input-order"><div class="sign_up_re_password-alert alert-div"></div></div>
							<div class="sign-up-box-wrap"><a class="sign-up-btn" href="javascript:signUp();">SIGN UP</a></div>
							<div class="choice">
								<div class="or">or</div>
								<div class="dashed_line"></div>
							</div>
							<div class="fb_login">
								<a href="/auth/facebook" class="link_as_button" id="fb_register_button">
									<div class="bttn fb_style">
										<div class="icon"></div>
										<span>Register with Facebook</span>
									</div>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
<!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
		long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
		to to "classic" jQuery behavior -->
<script>if ($ === undefined) $ = jQuery</script>
<!-- /jQuery -->
<script src="/javascripts/orchestra.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script>
	$(document).ready(function(){
		if( $(window).width() < 1280 )
			$(".container").width("1280");
		var status = $.getUrlVar('status');
		if( status === "failed" )
		{
			location.herf = location.origin+"#";
			alert("이메일 또는 비밀번호가 일치하지 않습니다.");
		}
		else if( status === "auth" )
		{
			location.herf = location.origin+"#";
			alert("이메일 인증을 하셔야 합니다.\n아이디로 메일 발송 해드렸습니다.");
		}

		checkEmail();
	})
	function login()
	{
		$('form[name=login-form]').submit();
	}
	function signUp()
	{
		var Options = {
			url: '/page/sign_up',
			type: 'POST',
			dataType: 'json',
			resetForm: false,
			beforeSubmit: function(){},
			success: function(json) {
				if( json.result == "failed" )
				{
					$(".alert-div").html("");
					$("."+json.target+"-alert").html(json.msg);
					$("form[name=sign-up-form] input").css({border:"1px solid rgba(204, 204, 204, 0.47)"});
					$("form[name=sign-up-form] input[name="+json.target+"]").css({border:"3px solid rgba(255, 0, 0, .4)"});
					$("form[name=sign-up-form] input[name="+json.target+"]").focus();
				}
				else if( json.result == "successful" )
					location.href="/?status=auth";
			}
		};
		$('form[name=sign-up-form]').ajaxSubmit(Options);
	}
	function checkEmail()
	{
		$('form[name=sign-up-form] input[name=sign_up_email]').blur(function(){
			var sign_up_email = $(this).val();
			var $t = $(this);
			$.ajax({
				url: '/page/check_email',
				type: 'POST',
				data: {sign_up_email:sign_up_email},
				dataType: 'json',
				success: function(json) {
					if( json.result == "failed" )
					{
						$(".sign_up_email-alert").html(json.msg);
						$t.css({border:"3px solid rgba(255, 0, 0, .4)"});
					}
					else if( json.result == "successful" )
					{
						$(".sign_up_email-alert").html("");
						$t.css({border:"1px solid rgba(204, 204, 204, 0.47)"});
					}
				}
			});
		});
	}
</script>
</html>