<html lang="ko" class="canHaveFixedElements" id="facebook">
<head>
	<meta charset="utf-8">
	<meta content="noodp, noydir" name="robots">
	<meta id="meta_referrer" content="default" name="referrer">
	<title>Orchestra에 오신 것을 환영합니다. 로그인, 가입 및 더 알아보기</title>
	<link href="/stylesheets/tmp.css" rel="stylesheet">
	<style>
		*{
			margin:0px;padding:0px;
		}
		.login .container{
			width:100%;
		}
		.login{
			font-family:"oxygen";
		}
		.login .context-box {
			margin:0 auto;
			width:1280px;
		}
		.login placeholder{
			font-family:"oxygen";
		}
		.login .header{
			width:100%;
			height:62px;
			background-color:#336699;
			padding-top:15px;
			padding-bottom:10px;
		}
		.login .header .logo{
			float:left;
			margin-left:10%;
			font-size:3.3em;
			font-weight:bold;
			color:#ffffff;
			line-height:62px;
			width:50%;
		}
		.login .header .login-box{
			float:left;
			width:40%;
			font-size:0.75em;
			color:#ffffff;
		}
		.login .header .login-box-wrap{
			float:left;
			width:28%;
			margin-right:5%;
		}
		.login .header .login-box-wrap div{
			width:100%;
			height:21px;
			line-height:21px;
		}
		.login .header .login-box-wrap input{
			width:100%;
			height:20px;
			line-height:20px;
		}
		.login .header .login-box-wrap .login-btn{
			background-color:#003263;
			padding:1px 9px;
			border-radius:4px;
		}
		.login a:link {text-decoration: none; color: #ffffff;}
		.login a:visited {text-decoration: none; color: #ffffff;}
		.login a:active {text-decoration: none; color: #ffffff;}
		.login a:hover {text-decoration: none; color: #ffffff;}
		
		.login .body{
			width:100%;
			background: url("/images/main/shape.png") repeat-x 0 0 transparent;
		}
		.login .body .login-bg{
			margin-top:5%;
			margin-left:10%;
		}
		.login .body .sign-up-box{
			position:relative;
			top:-100px;
			padding-top:20px;
			padding-left:60%;
			padding-bottom:15px;
			/*
			opacity:0.2;
			background-color:#000000;
			*/
		}
		.login .body .sign-up-box .sign-up-box-wrap{
			height:46px;
			margin-bottom:5px;
		}
		.login .body .sign-up-box input{
			padding:5px;
			height:34px;
			line-height:34px;
			border:1px solid;
			border-radius:6px;
			border-color: #aaa #bbb #bbb #bbb;
			-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
			-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
			box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
		}
		.login .body .sign-up-box input.input-name{
			width:180px;
			margin-right:15px;
		}
		.login .body .sign-up-box input.input-order{
			width:380px;
		}
		.login .body .sign-up-box .sign-up-btn{
			float:left;
			color:#ffffff;
			background-color:#003263;
			padding:7px 160px;
			border-radius:6px;
			-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
			-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
			box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
		}

		/* all */
		::-webkit-input-placeholder { color:#000000; font-family:"oxygen"; }
		::-moz-placeholder { color:#000000; font-family:"oxygen"; } /* firefox 19+ */
		:-ms-input-placeholder { color:#000000; font-family:"oxygen"; } /* ie */
		input:-moz-placeholder { color:#000000; font-family:"oxygen"; }

		/* individual: webkit */
		#field2::-webkit-input-placeholder { color:#00f; }
		#field3::-webkit-input-placeholder { color:#090; background:lightgreen; text-transform:uppercase; }
		#field4::-webkit-input-placeholder { font-family:"oxygen"; text-decoration:overline; letter-spacing:3px; color:#999; }

		/* individual: mozilla */
		#field2::-moz-placeholder { color:#00f; }
		#field3::-moz-placeholder { color:#090; background:lightgreen; text-transform:uppercase; }
		#field4::-moz-placeholder { font-family:"oxygen"; text-decoration:overline; letter-spacing:3px; color:#999; }
	</style>
</head>
<body class="login">
	<div class="container">
		<div class="header">
			<div class="context-box">
				<div class="logo">orchestra</div>
				<div class="login-box">
					<form name="login-form" method="post" action="/page/login">				
						<div class="login-box-wrap">
							<div class="login-box-header">E-mail</div>
							<div class="login-box-body"><input type="text" name="email" placeholder="Your e-mail" value="orchestra"></div>
							<div class="login-box-footer">Keep me logged in</div>
						</div>
						<div class="login-box-wrap">
							<div class="login-box-header">Password</div>
							<div class="login-box-body"><input type="password" name="pass" placeholder="Enter Password" value="1234"></div>
							<div class="login-box-footer">Forgot your password?</div>
						</div>
						<div class="login-box-wrap">
							<div class="login-box-header"></div>
							<div class="login-box-body"><a href="javascript:login();" class="login-btn">LOG IN</a></div>
							<div class="login-box-footer"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="context-box">
				<img src="/images/main/login_bg.png" alt="login_bg" class="login-bg">
				<div class="sign-up-box">
					<div class="sign-up-box-wrap">
						<input type="text" name="first_name" placeholder="First Name" class="input-name">
						<input type="text" name="last_name" placeholder="Last Name" class="input-name">
					</div>
					<div class="sign-up-box-wrap"><input type="text" name="sign_up_email" placeholder="Your e-mail" class="input-order"></div>
					<div class="sign-up-box-wrap"><input type="password" name="sign_up_password" placeholder="Enter Password" class="input-order"></div>
					<div class="sign-up-box-wrap"><input type="password" name="sign_up_re_password" placeholder="Re-enter Password" class="input-order"></div>
					<div class="sign-up-box-wrap"><a class="sign-up-btn" href="javascript:alert('준비중 입니다.');">SIGN UP</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
<!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
		long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
		to to "classic" jQuery behavior -->
<script>if ($ === undefined) $ = jQuery</script>
<!-- /jQuery -->
<script src="/javascripts/orchestra.js"></script>
<script>
	$(document).ready(function(){
		if( $(window).width() < 1280 )
			$(".container").width("1280");
		var status = $.getUrlVar('status');
		if( status == "failed" )
			alert("이메일 또는 비밀번호가 일치하지 않습니다.");
	})
	function login()
	{
		$('form[name=login-form]').submit();
	}
</script>
</html>