	<div class="meeting_evaluate_box">
		<div class="container">
			<div id="evaluate_title_box">
				<div class="evaluate_icon">
					<img class="evaluate_icon_button" src="/images/meeting_result/exit.png" onClick="hideEvaluateWindow()"/>
				</div>
			</div>
			<div id="evaluate_contents_box">
				<div class="evaluate_contents">
					<div class="evaluate_title">
						Happy Merry Chicky’s Birthday		
					</div>
					<div class="evaluate_subject">
						We Love Chicky, Enjoy Your Day
					</div>
					<div class="result_time">
						<img class="result_contents_button" src="/images/meeting_result/clock.png" />
						<div id="eval_result_time_use">02:31:00</div>
						<div id="eval_result_time_set">/ 2:00:00</div>	
						<div id="eval_result_time_clock">(9:00 am - 11:31 am)</div>	
					</div>
					<img class="result_contents_button" src="/images/meeting_result/badge.png" />
					<div class="input_evaluate_meeting_box">
						<div class="input_evaluate_title">
							<div class="input_evaluate_subject">Meeting</div>
							<div class="input_evaluate_rating_box">
								<div id="eval_input_meeting_rating"></div>
								<div id="eval_input_meeting_rating_val"></div>
								<div class="text_right">Today</div>
							</div>
						</div>
						<div class="input_evaluate_contents">
							<div class="pre_evaluate_rating_box">		
								<div class="pre_rating_result">
									<div class="text_right">5/24</div>
								</div>
								<div class="pre_rating_result">
									<div class="text_right">5/12</div>
								</div>
							</div>
						</div>
					</div>
					<div class="input_evaluate_ft_box">
						<div class="input_ft_title">
							<div class="input_evaluate_subject">Facilitating</div>
							<div class="input_evaluate_rating_box">
								<div id="eval_input_ft_rating"></div>
								<div id="eval_input_ft_rating_val"></div>
								<div class="text_right">Today</div>
							</div>
						</div>
						<div class="input_evaluate_contents">
							<div class="pre_evaluate_rating_box">
								<div class="pre_rating_result">
									<div class="text_right">5/24</div>
								</div>
								<div class="pre_rating_result">
									<div class="text_right">5/12</div>
								</div>					
							</div>
						</div>
					</div>
					<div class="input_evaluate_best_box">
						<div class="input_best_title">
							<div class="input_evaluate_subject">Best Member</div>
							<div class="input_best_rating_box">
								
								<div class="text_right">Today</div>
							</div>
						</div>
						<div class="input_best_contents">
							<div class="pre_best_rating_box">			
								<div class="pre_rating_result">
									<div class="text_right">5/24</div>
								</div>
								<div class="pre_rating_result">
									<div class="text_right">5/12</div>
								</div>
							</div>
						</div>

					</div>
					<div class="evaluate_best_box">
						<div class="best_title">
							<div class="evaluate_best_subject">Today's Best Member</div>
						</div>
						<div class="best_contents">
							<div class="best_member_box">
								<div class="member_name">IreneWhite</div>
								<div class="member_thumb"></div>
								<div class="member_point">89</div>
								<div class="member_grade">Perfect</div>
							</div>
							<div class="best_member_box">
								<div class="member_name">Go Donghyun</div>
								<div class="member_thumb"></div>
								<div class="member_point">98</div>
								<div class="member_grade">Good</div>
							</div>
							<div class="best_member_box">
								<div class="member_name">Chicken</div>
								<div class="member_thumb"></div>
								<div class="member_point">75</div>
								<div class="member_grade">Good</div>
							</div>
							<div class="best_member_box">
								<div class="member_name">SCV Jeong</div>
								<div class="member_thumb"></div>
								<div class="member_point">69</div>
								<div class="member_grade">Perfect</div>
							</div>
							<div class="best_member_box">
								<div class="member_name">Mark J</div>
								<div class="member_thumb"></div>
								<div class="member_point">78</div>
								<div class="member_grade">Bad</div>
							</div>
							<div class="best_member_box">
								<div class="member_name">Donald Trump</div>
								<div class="member_thumb"></div>
								<div class="member_point">41</div>
								<div class="member_grade">Perfect</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>