<html lang="ko" class="canHaveFixedElements" id="facebook">
<head>
	<meta charset="utf-8">
	<meta content="noodp, noydir" name="robots">
	<meta id="meta_referrer" content="default" name="referrer">
	<title>Orchestra에 오신 것을 환영합니다. 회의록 페이지</title>
	<link href="/stylesheets/orchestra.css" rel="stylesheet">
	<style>
		*{
			margin:0px;padding:0px;
		}
	</style>
</head>
<body class="minutes">
	<div class="container">
		<div class="header">
			<div class="info">
				<ul>
					<li>
						<div>문서번호</div>
						<div></div>
					</li>
					<li>
						<div>페이지번호</div>
						<div></div>
					</li>
					<li>
						<div>작성자</div>
						<div></div>
					</li>
					<li>
						<div>작성일자</div>
						<div></div>
					</li>
				</ul>
			</div>
			<div class="signature">
				<ul>
					<li>
						<div></div>
						<div></div>
					</li>
					<li>
						<div></div>
						<div></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div class="meta-info">
				<div class="date">
					<div>회의 일자</div>
					<div>2013.05.19</div>
				</div>
				<div class="place">
					<div>회의 장소</div>
					<div>소프트웨어 마에스트로 센터</div>
				</div>
				<div class="subject">
					<div>주제</div>
					<div>회의록 페이지 구성에 대한 논의</div>
				</div>
				<div class="participant">
					<div>회의 참석자</div>
					<div>Micheal Jeong, Godong9, Stargt, B.C.H</div>
				</div>
			</div>
			<div class="contents">
				<div>내용</div>
				<div>회의록 페이지 구성에 대해 어떻게 할지 브레인스토밍을 통해 아이디어를 내봅시다.</div>
			</div>
		</div>
	</div>
</body>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/javascripts/jquery.ui.min.js"><\/script>')</script>
<!-- 3: if jQuery was loaded in compatibility mode, where you have to use the
		long 'jQuery(...)' instead of '$(...)' (Wordpress does this), revert
		to to "classic" jQuery behavior -->
<script>if ($ === undefined) $ = jQuery</script>
<!-- /jQuery -->
<!-- Bootstrap Components -->
<script src="/javascripts/bootstrap.min.js"></script>
</html>