<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>	
		function scrollLink(obj) {
			var position = $("."+obj).offset();
			$( 'html, body' ).animate( { scrollTop: position.top-40 }, 0 ); 
		}
	</script>
	<style>

		.help_page {
			width: 1145px;
		}
		
		.move_button {
			top: 0px;
			position: fixed;

			height: 40px;
		}

		.help {
			margin-top: 40px;
		}
	
		.ft_help {
			width: 1145px;
			height: 120px;
			margin-top: 20px;
		}

		.keyboard {
			width: 1145px;
			height: 280px;
		}
		
		.about {
			width: 1145px;
			height: 900px;
		}

		.left_page {
			width: 570px;
			margin: 1px;
			float: left;
		}

		.right_page {
			width: 570px;
			margin: 1px;
			float: right;
		}

		.member_left_page {
			width: 320px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.member_right_page {
			width: 700px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.title {
			font: bold 16px verdana, sans-serif;
			margin-bottom: 10px;
		}

		.contents {
			font: 12px verdana, sans-serif;
		}

		.help_button {
			width: 100px;
			float:left;
			margin: 3px;
			padding: 3px;
			border: 1px solid #999999;
			text-align: center;		
			cursor: pointer;
		}

	</style>
</head>
<body>
	<div class="help_page">
		<div class="move_button">
			<div class="help_button" onClick="scrollLink('help')">HELP</div>
			<div class="help_button" onClick="scrollLink('keyboard')">KEYBOARD</div>
			<div class="help_button" onClick="scrollLink('about')">ABOUT</div>
		</div>
		
		<div class="help">
			<div class="service_help">
				<div class="service_intro">	
					<div class="title">
						Orchestra
					</div>
					<div class="contents">
						Meeting master, Orchestra!
					</div>
				</div><br/>

				<div class="use_help">
					<div class="title">
						How to use
					</div>
					<div class="contents">
						<div class="quick_start">
							Quick start
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_planning">
							Meeting Planning
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting">
							Meeting Proceeding
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_result">
							Make Meeting Result
						</div>
						<img src="facilitation_process.png" width="500px"></img>
					</div>
				</div>
			</div>
		

			<div class="ft_help">
				<div class="left_page">
					<div class="title">
						What's the Facilitation?
					</div>
					<div class="contents">
						<div>&nbsp
							Facilitation is any activity that makes tasks for others easy, or tasks that are assisted.
						</div><br/>
					</div>
				</div>
			</div>
		</div><br/><br/>

		<div class="keyboard">
			<div class="title">
				Keyboard Shotcuts
			</div>
			<div class="left_page">
				<div class="contents">
					<div class="keyboard_short">Select Member1
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Member2
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Member3
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Member4
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="right_page">
				<div class="contents">
					<div class="keyboard_short">Select List Tool 
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Postit Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Mindmap Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Vote Tool
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Select Matrix Tool
						<input type="text" />
					</div><br/>
				</div><br/>
			</div>
		</div><br/><br/>

		<div class="about">
			<div class="title">Team Members</div>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">정용기
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">임종혁
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">고동현
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">백채현
					</div>
				</div>
			</div><br/>
		</div><br/><br/>
	</div>
</body>
</html>
