<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>	
		function scrollLink(obj) {
			var position = $("."+obj).offset();
			$( 'html, body' ).animate( { scrollTop: position.top-40 }, 0 ); 
		}
	</script>
	<style>

		.help_page {
			width: 1145px;
		}
		
		.move_button {
			top: 0px;
			position: fixed;

			height: 40px;
		}

		.help {
			margin-top: 40px;
		}

		
		
		.ft_help {
			width: 1145px;
			height: 1380px;
		}

		.keyboard {
			width: 1145px;
			height: 280px;
		}
		
		.about {
			width: 1145px;
			height: 900px;
		}

		.left_page {
			width: 570px;
			margin: 1px;
			float: left;
		}

		.right_page {
			width: 570px;
			margin: 1px;
			float: right;
		}

		.member_left_page {
			width: 320px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.member_right_page {
			width: 700px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.title {
			font: bold 16px verdana, sans-serif;
			margin-bottom: 10px;
		}

		.contents {
			font: 12px verdana, sans-serif;
		}

		.help_button {
			width: 100px;
			float:left;
			margin: 3px;
			padding: 3px;
			border: 1px solid #999999;
			text-align: center;		
			cursor: pointer;
		}

	</style>
</head>
<body>
	<div class="help_page">
		<div class="move_button">
			<div class="help_button" onClick="scrollLink('help')">HELP</div>
			<div class="help_button" onClick="scrollLink('keyboard')">KEYBOARD</div>
			<div class="help_button" onClick="scrollLink('about')">ABOUT</div>
		</div>
		
		<div class="help">
			<div class="service_help">
				<div class="service_intro">	
					<div class="title">
						서비스 소개
					</div>
					<div class="contents">
						서비스 소개 말 쓰는 자리!
					</div>
				</div><br/>

				<div class="use_help">
					<div class="title">
						서비스 사용법
					</div>
					<div class="contents">
						<div class="quick_start">
							빠른 시작 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_planning">
							회의 기획 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting">
							회의 진행 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_result">
							회의록 생성 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
					</div>
				</div>
			</div>
		

			<div class="ft_help">
				<div class="left_page">
					<div class="title">
						퍼실리테이션이란 무엇인가?
					</div>
					<div class="contents">
						<div>&nbsp
							퍼실리테이션은 퍼실리테이션 되는 항목에 따라 두 가지 유형으로 구분할 수 있다. 첫 번째 유형은 내용 퍼실리테이션(ContentFacilitation)으로 미팅이나 토론에서 취급하는 현안, 논의되는 주제, 해결해야 할 문제들, 즉 토론에서 직접적으로 발언되는 내용을퍼실리테이션 하는 것을 뜻한다.
						</div><br/>
						<div>&nbsp
							두 번째 유형인 프로세스 퍼실리테이션(Process Facilitation)은 안건이 어떤 방식으로 토론되는지를 다룬다. 즉, 프로세스를 퍼실리테이션 하는 것은 퍼실리테이터가 미팅의 방법이나 절차, 대화의 형식, 집단의 역학관계, 미팅 분위기를 조율하는 것을 뜻한다. 일반적으로 미팅의 내용은 말을 통해 구체적으로 표현되기 때문에 사람들이 쉽게 인식할 수 있지만, 프로세스는 그렇지 않으므로 사람들이 잘 인식하지 못하며 관심을 두지도 않는다.
						</div><br/>
						<div>&nbsp
							만약 퍼실리테이터가 자신의 의견을 제시하여 토론 결과에 영향력을 발휘하고자 한다면 퍼실리테이터가 내용을 퍼실리테이션 하는것이다. 그러나 퍼실리테이터가 중립을 유지하면서 프로세스를 효과적이고 효율적으로 이끌어가는데 초점을 둔다면 프로세스를 퍼실리테이션 하는 것이다. 때에 따라 미팅 참가자들이 중요하게 고려해야 할 사항을 놓치고 있다는 것을 퍼실리테이터가 인지했을 때, 그 사항에 대해 참가자들이 생각해보도록 권유하는 것이 필요할 수 도 있다. 그러나 퍼실리테이터가 미팅 내용에 관여하는 것은 참가자들로 하여금 퍼실리테이터가 특정한 의견을 가지고 있으며, 그 방향으로 미팅의 결과를 유도하려고 한다는 생각을 하게 할 수 있으므로 내용에 대한 개입은 최소한으로 줄이는 것이 좋다.
						</div><br/>
					</div>
				</div>
				<div class="right_page">
					<div class="title">
						퍼실리테이션의 프로세스
					</div>
					<div class="contents">
						<img src="facilitation_process.png" width="550px"></img>
						<div>&nbsp
							일반적인 퍼실리테이션 미팅은 '그림'과 같은 프로세스로 진행될 수 있다. 이 흐름도에서 [준비하기]와 [세션 시작하기], [초점 맞추기], [기록하기], [정보 수집하기], [세션 종결하기]는 팀의 문제해결 활동과 직접적으로 연관된 과제 프로세스 퍼실리테이션이라 할 수 있다. 한편 [역기능 관리하기], [합의 구축하기], [에너지 수준 높게 유지하기]는 팀의 문제해결 활동에 영향을 줄 수 있는 정서적인 문제를 다루는 감정 프로세스 퍼실리테이션과 관련된다. 이 밖에 [질문하기]는 모든 프로세스에 공통적으로 행해지는 활동이며, [의제 설정하기]는 미팅을 준비하고 시작하는 단계에서 이루어지는 활동이다.
						</div><br/>
							 1) 질문하기: 퍼실리테이션의 가장 중요하면서도 기본적인 도구는 질문이다. 퍼실리테이터는 미팅 초기에 참가자들에게 질문을 던지고 참가자들이 이에 대해 생각해보게 함으로써 미팅의 목적과 개인적 목표, 미팅에서 참가자들이 공통적으로 지켜야 할 원칙에 대해 분명히 할 수 있다. 또한 퍼실리테이터는 참가자들의 의도나 말한 내용이 명확하지 않을 때, 논의가 주제에서 벗어났거나, 참가자들이 반드시 고려해야 할 요소에 대해 논의하지 않을 때 이를 해결하기 위해 질문을 할 수 있다.
						<div>&nbsp
							2) 의제(협의 사항) 설정하기: 퍼실리테이터는 미팅의 목적에 따라 몇 가지 의제를 준비할 수 있다. 퍼실리테이터는 미팅의 주최자, 그리고 미팅 참가자들과의 논의를 통해 자신이 준비한 의제가 적절한지 검토해야 한다.
						</div><br/>
						<div>&nbsp
							 3) 준비하기: 본격적인 미팅을 시작하기 전의 준비단계에서 퍼실리테이터는 미팅의 목적, 미팅을 통해 얻고자 하는 결과, 미팅에 참가할 사람, 논의될 이슈, 어떤 단계로 미팅이 진행될 것인지를 명확히 정의한다.
						</div><br/>
						<div>&nbsp
							4) 미팅 시작하기: 이 단계에서 퍼실리테이터는 참가자들에게 미팅의 목적과 미팅의 결과물에 대해 알리고, 미팅을 통해 얻을 수 있는 결과 및 효과에 대해 상상하게 하여 참가자들의 참여 의욕을 고취시킨다. 또한 미팅에서 참가자들이 해야 될 역할의 중요성과 그들이 미팅에 참석하도록 선택된 이유, 주어진 권한에 대해 설명한다.
						</div><br/>
						<div>&nbsp
							5) 초점 맞추기: 퍼실리테이터는 논의가 주제와는 다른 방향으로 흘러갈 때 혹은 새로운 날짜에 미팅이 시작되거나 긴 휴식시간이 지난 뒤 새롭게 미팅을 시작하려 할 때, 참가자들에게 미팅의 목적에 대해 재인식시키거나 논의의 진행상황을 파악하게 하여 참가자들이 주제에 집중하게 한다.
						</div><br/>
						<div>&nbsp
							 6) 기록하기: 퍼실리테이터는 논의의 흐름을 파악하고 참가자들에게 논의된 사항에 대해 피드백 해주기 위해 중요한 내용을 기록해야 한다.
						</div><br/>
						<div>&nbsp
							 7) 정보 수집하기: 퍼실리테이터는 미팅을 진행하면서 참가자들에게 다양한 방식의 질문을 던짐으로써 언급된 사항에 대한 자세한 정보를 얻고, 정보를 범주화하며, 문제해결을 위한 방안을 도출하고, 해결방안의 우선순위를 결정하도록 하는 활동을 한다.
						</div><br/>
						<div>&nbsp
							8) 역기능 관리하기: 미팅의 역기능은 참가자들이 미팅에 대한 불만을 무의식적, 혹은 의식적으로 표출하는 것으로 미팅에 늦거나 입을 다물고 있는 것에서 시작해서 다른 참가자들을 비난하거나 미팅 장소를 떠나는 것까지 다양하게 표현된다. 퍼실리테이터는 이러한 증상들을 초기에 파악해서 역기능의 증상별 대처 방법을 사용해야 한다.
						</div><br/>
						<div>&nbsp
							 9) 합의 구축하기: 참가자들이 모두 지지하는 합의를 구축하기 위해서 퍼실리테이터는 적절한 의사결정 방법을 선택하여 합의를 도출하도록 한다. 만약 참가자들의 의견이 쉽게 수렴되지 않는다면 그원인을 파악하고, 원인에 따라 합의를 이끌어낼 수 있는 기법을 사용해야 한다.
						</div><br/>
						<div>&nbsp
							10) 에너지 수준 높게 유지하기: 참가자들이 높은 에너지를 지니고 있으면 주제에 대한 토의가 활발히 이루어지고, 참가자들의 참여도가 높아진다. 또한 퍼실리테이터가 높은 에너지를 지니고 있는 것 역시 참가자들에게 미팅에서 다루는 이슈가 중요하다고 느끼게 하여 참여도를 높일 수 있다. 따라서 퍼실리테이터는 자신과 참가자의 에너지 수준을 주기적으로 점검하고, 에너지 수준이 낮아졌을 때 이를 높이기 위한 기법을 사용하는 것이 좋다.
						</div><br/>
						<div>&nbsp
							11) 미팅 종결하기: 미팅을 종결하기 전에 퍼실리테이터는 미팅 동안 논의된 의제와 결정된 사항, 참가자들의 목적이 달성되었는가에 대해 검토한다. 또한 미팅 활동을 통해 성취한 결과에 대해 평가하고, 공식적으로 미팅이 종결되었음을 알리며, 미팅 주최자에게 미팅 결과 및 보완점을 보고한다.
						</div><br/>
					</div>
				</div>
			</div>
		</div><br/><br/>

		<div class="keyboard">
			<div class="title">
				키보드 단축키
			</div>
			<div class="left_page">
				<div class="contents">
					<div class="keyboard_short">사용자1 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자2 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자3 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자4 선택
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="right_page">
				<div class="contents">
					<div class="keyboard_short">List 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Postit 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Mindmap 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Vote 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Matrix 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Chatting 도구 선택
						<input type="text" />
					</div><br/>
				</div><br/>
			</div>
		</div><br/><br/>

		<div class="about">
			<div class="title">팀원 소개</div>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">정용기
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">임종혁
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">고동현
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">백채현
					</div>
				</div>
			</div><br/>
		</div><br/><br/>
	</div>
</body>
</html>
