<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script>	
		function scrollLink(obj) {
			var position = $("."+obj).offset();
			$( 'html, body' ).animate( { scrollTop: position.top-40 }, 0 ); 
		}
	</script>
	<style>

		.help_page {
			width: 1145px;
		}
		
		.move_button {
			top: 0px;
			position: fixed;

			height: 40px;
		}

		.help {
			margin-top: 40px;
		}
	
		.ft_help {
			width: 1145px;
			height: 120px;
			margin-top: 20px;
		}

		.keyboard {
			width: 1145px;
			height: 280px;
		}
		
		.about {
			width: 1145px;
			height: 900px;
		}

		.left_page {
			width: 570px;
			margin: 1px;
			float: left;
		}

		.right_page {
			width: 570px;
			margin: 1px;
			float: right;
		}

		.member_left_page {
			width: 320px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.member_right_page {
			width: 700px;
			height: 400px;
			margin: 1px;
			float: left;
		}

		.title {
			font: bold 16px verdana, sans-serif;
			margin-bottom: 10px;
		}

		.contents {
			font: 12px verdana, sans-serif;
		}

		.help_button {
			width: 100px;
			float:left;
			margin: 3px;
			padding: 3px;
			border: 1px solid #999999;
			text-align: center;		
			cursor: pointer;
		}

	</style>
</head>
<body>
	<div class="help_page">
		<div class="move_button">
			<div class="help_button" onClick="scrollLink('help')">HELP</div>
			<div class="help_button" onClick="scrollLink('keyboard')">KEYBOARD</div>
			<div class="help_button" onClick="scrollLink('about')">ABOUT</div>
		</div>
		
		<div class="help">
			<div class="service_help">
				<div class="service_intro">	
					<div class="title">
						서비스 소개
					</div>
					<div class="contents">
						서비스 소개 말 쓰는 자리!
					</div>
				</div><br/>

				<div class="use_help">
					<div class="title">
						서비스 사용법
					</div>
					<div class="contents">
						<div class="quick_start">
							빠른 시작 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_planning">
							회의 기획 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting">
							회의 진행 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
						<div class="meeting_result">
							회의록 생성 방법
						</div>
						<img src="facilitation_process.png" width="500px"></img>
					</div>
				</div>
			</div>
		

			<div class="ft_help">
				<div class="left_page">
					<div class="title">
						퍼실리테이션이란 무엇인가?
					</div>
					<div class="contents">
						<div>&nbsp
							퍼실리테이션은 퍼실리테이션 되는 항목에 따라 두 가지 유형으로 구분할 수 있다. 첫 번째 유형은 내용 퍼실리테이션(ContentFacilitation)으로 미팅이나 토론에서 취급하는 현안, 논의되는 주제, 해결해야 할 문제들, 즉 토론에서 직접적으로 발언되는 내용을퍼실리테이션 하는 것을 뜻한다.
						</div><br/>
					</div>
				</div>
			</div>
		</div><br/><br/>

		<div class="keyboard">
			<div class="title">
				키보드 단축키
			</div>
			<div class="left_page">
				<div class="contents">
					<div class="keyboard_short">사용자1 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자2 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자3 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">사용자4 선택
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="right_page">
				<div class="contents">
					<div class="keyboard_short">List 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Postit 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Mindmap 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Vote 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Matrix 도구 선택
						<input type="text" />
					</div><br/>
					<div class="keyboard_short">Chatting 도구 선택
						<input type="text" />
					</div><br/>
				</div><br/>
			</div>
		</div><br/><br/>

		<div class="about">
			<div class="title">팀원 소개</div>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">정용기
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">임종혁
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">고동현
					</div>
				</div>
			</div><br/>
			<div class="member">
				<div class="member_left_page">
					<div class="contents">
						<img src="chicken.jpg" width="300px"></img>
					</div>
				</div>
				<div class="member_right_page">
					<div class="contents">백채현
					</div>
				</div>
			</div><br/>
		</div><br/><br/>
	</div>
</body>
</html>
