<div class="row-fluid">
	<div class="span6">
		<div class="inner-spacer quick-ajax/meeting"> 
		<!-- content goes here -->
			<div class="btn btn-success btn-large">도구</div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">list</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">postit</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">whiteboard</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">mindmap</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">vote</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">matrix</a></div>
		</div>
	</div>
	<div class="span6">
		<div class="inner-spacer quick-ajax/meeting"> 
		<!-- content goes here -->
			<div class="btn btn-success btn-large">최근회의</div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Group Decision Making</a></div>
			<!-- Idea Generation -> Idea Consolidation -> Idea Evaluation -> Implementation Planning -->
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Strategic Planning</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Project Evaluation</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Focus Groups and Expert Panels</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Conflict Resolution</a></div>
			<div><a class="btn btn-primary btn-large" href="/ajax/meeting">Problem Solving</a></div>
		</div>
	</div>
</div>
