<link rel="stylesheet" href="/stylesheets/orchestra.css" />
<div id="meeting-template">
	<div class="meeting-template-header"></div>
	<div class="meeting-template-body">
		<div class="left-body">
			<div class="custom">Custom</div>
			<ul class="fancy-scrollbar">
				<% for(var i=0; i<result.length; i++) {%>
					<li title="<%= result[i].subject %>" onclick="javascript:show_setting_agenda('<%= result[i].idx %>');"><%= result[i].subject %></li>
				<% } %>
			</ul>
		</div>
		<div class="right-body">
			<ul>
				<li>
				<div class="subject">Decision Making</div>
				<div class="goal">This is Photoshop's version of Lorem lpsum.</div>
				<ul>
					<li>
						<div class="process-subject">This is Photoshop's version of Lorem lpsum.</div>
						<div class="process-arrow"></div>
					</li>
					<li>
						<div class="process-subject">This is Photoshop's version of Lorem lpsum.</div>
						<div class="process-arrow"></div>
					</li>
					<li>
						<div class="process-subject">This is Photoshop's version of Lorem lpsum.</div>
					</li>
				</ul>
				</li>
			</ul>
		</div>
	</div>
</div>