* {
      margin: 0px;
      padding: 0px;
    } 
    h1 {
      font: bold 20px verdana, sans-serif;
    } 
    h2 {
      font: bold 18px verdana, sans-serif;
    } 
    header, section, footer, aside, nav, article, figure, figcaption, hgroup{
      display: block;
    }
    body {
      width: 100%;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
    }
    #wrapper{
      max-width: 600px;
      margin: 5px 0px;
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }
    #main_header {
	  display: -moz-box;
	  display: -webkit-box;
	  box-orient: horizontal;
      background: #FFFBB9;
      border: 1px solid #999999;
      padding: 10px;
    } 
    #container {
      display: -moz-box;
      display: -webkit-box;
      -moz-box-orient: horizontal;
      -webkit-box-orient: horizontal;
    }
    #main_section {
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      margin: 5px 0px;
    } 
    article {
	  max-width: 600px;
      background: #FFFFFF;
      border: 1px solid #999999;
      padding: 10px;
      margin-bottom: 5px;
	  cursor: text;
    } 

	.menu_line {
		display: -moz-box;
		display: -webkit-box;
		border-bottom: 1px solid #999999;
		margin-bottom: 10px;
	}

	.tmp_editing {
		width: 90%;
		margin-left: 10px;
		font: 14px verdana, sans-serif;
		border: none;
		background: none;
		outline: none;
		cursor: text;
		vertical-align: middle;
	}


	.bullet {
		width: 3%;
		text-indent: 0px !important;
		margin-left: 5px;
		vertical-align: middle;
	}

	.check_box {
		width: 3%;
		margin-left: 5px;
		margin-top: 3px;
		float: right;	
	}

	.input_task:hover {
		background: #66CCFF;
	}
	.input_open:hover {

		background: #66CCFF;
	}

	a:hover {
		text-decoration:underline;
		cursor:pointer;
		background:#004596;
	}

	.size_box {
		margin-left: 1%;
		width: 18%;		
	}
	.init_box {
		width: 12%;
	}

	#initButton {
		width: 60px;
		cursor:pointer;
	}

	.inputNum {
		width: 30%;
	}

	#setNum {
		width: 70%;
		cursor:pointer;
	}

	#matrix_table {
		border: 1px solid #999999;
		width:100%;
		border-collapse:collapse;
	}
	
	.input_line {
		min-height: 100px;
		border: 0px none;
	}

	.row_title {
		min-height: 100px;
		border: 0px none;
	}

	.col_title {
		min-height: 100px;
		border: 0px none;
	}

	.main_input {
		border: none;
	}

	.row_input {
		margin: 3px;
		text-align: center;
	}

	.col_input {
		margin: 3px;
		text-align: center;
	}

	.val_input {
		border: none;
		margin: 3px;
	}

	.matrix-input{
		padding:2px;
		border: 0px none;
		/* background-color:inherit; */
	}

	.add-box{
		width:100%;
		height:100%;
	}

	.even{
		background-color:#fff5ee;
	}
	.c-even{
		background-color:#f0fff0;
	}
	.odd{
		background-color:#f0f8ff;
	}
	.c-odd{
		background-color:#faf0e6;
	}	